<html>
 <head>
    <title>About</title>
    <!-- Include the bootstrap stylesheets -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
  </head>
  <body background="1.jpg">
  <font color="black">
    <div class="container">
      <div class="row">
 <a href='/home'><div class="col-md-3">Home</div></a>
       <a href='/room'><div class="col-md-3">Rooms</div></a>
       <a href='/hotel'><div class="col-md-3">Reserve a Room</div></a>
	   <a href='/about'><div class="col-md-3">About Us</div></a>
      </div>
    </div>
	<font color="white">
	<center> <h1> About Us </h1> </center>
	<center><h2> Architect: </h2></center>
	<center><img src="winter.jpg" width=700></center>
	<center><h2> We will give you the best hotel experience you can ever imagine. <h2></center>
	<h3> Contact our person through:</h3>
	<h4><li> Email: Steffen_Arcenal@yahoo.com</li></h4>
	</font>
  </body>
</html>
