<html>
<head>
		 <!-- Include the bootstrap stylesheets -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
</head>
<title>The Economist Hotel</title>
<body background="1.jpg">
<font color="white">
<div class="container">
      <div class="row">
  <a href='/home'><div class="col-md-3">Home</div></a>
       <a href='/room'><div class="col-md-3">Rooms</div></a>
       <a href='/hotel'><div class="col-md-3">Reserve a Room</div></a>
	   <a href='/about'><div class="col-md-3">About Us</div></a>
	<p>Here's your indoor swimming pool exclusive only to our guests. No need to get out of your room because all rooms are inclusive of this amazing private pool.</p>
	<img src="indoor.jpg" height = "500" width = "750"/>
	<h1>The Economist Hotel</h1>
</body>
</html>
