<html>
<head>

		 <!-- Include the bootstrap stylesheets -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
	</head>
	  <div class="container">
      <div class="row">
 <a href='/home'><div class="col-md-3">Home</div></a>
       <a href='/room'><div class="col-md-3">Rooms</div></a>
       <a href='/hotel'><div class="col-md-3">Reserve a Room</div></a>
	   <a href='/about'><div class="col-md-3">About Us</div></a>
      </div>
    </div>
<title>LIST OF AVAILABLE ROOMS</title>
<body background="1.jpg">
<font color="white">
<h1>WE OFFER THREE TYPES OF ROOMS</h1>
<ol>
<li>Guerric Lim's Presidential Suite</li>
<li><img src= "guerriclimpresidentroom.jpg" height="200" width="300" />
</li>
<li>Guerric Lim's Regular Suite</li>
<li>
<img src= "guerriclimsuite.jpg" height="200" width="300" />
</li>
<li>Guerric Lim's Poor Suite</li>
<li>
	<img src= "economyclass.JPG" height="200" width="300" />
</li>
</ol>
</body>
